# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.vscode
Server/env
Server/env/.Python
Server/env/[Bb]in
Server/env/[Ii]nclude
Server/env/[Ll]ib
Server/env/[Ll]ib64
Server/env/[Ll]ocal
Server/env/[Ss]cripts
Server/env/pyvenv.cfg
Server/env/.venv
Server/env/pip-selfcheck.json
Client/*/node_modules
Client/*/coverage
Client/*/build
Client/*/.DS_Store
Client/*/.env.local
Client/*/.env.development.local
Client/*/.env.test.local
Client/*/.env.production.local
Client/*/npm-debug.log*
Client/*/yarn-debug.log*
Client/*/yarn-error.log*